<?php
/* Database Configuration */

$config["db_host"] = "{{ db_host }}";			// hostname of the MySQL server
$config["db_name"] = "{{ db_name }}";			// database name
$config["db_user"] = "{{ db_user }}";			// MySQL user
$config["db_pass"] = "{{ db_pass }}";				// MySQL password (if any)


/* User Authentication Method */

$config["AUTH_METHOD"] = "sql";


/* Force debugging on for all users + scripts */

// $_SESSION["user"]["debug"] = "on";
?>
