$TTL    1h
@       IN      SOA     {{ nameserver }}. {{ hostmaster  }}. (
                              3         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
; name servers
      IN      NS      {{ nameserver }}.

; PTR Records
{{ reverse_ip }}     IN      PTR     {{ nameserver }}.                       ; {{ ansible_default_ipv4.address }}


