$TTL    1h
@       IN      SOA     {{ inventory_hostname }}. {{ hostmaster }}. (
                  3       ; Serial
             604800     ; Refresh
              86400     ; Retry
            2419200     ; Expire
             604800 )   ; Negative Cache TTL
;
; name servers - NS records
{% for hostname, dnsattr in nameservers_hosts.iteritems() %}
      IN      NS     {{ hostname }}.{{ tld }}.
{% endfor %}



; name servers - A records
{% for hostname, dnsattr in nameservers_hosts.iteritems() %}
{{ hostname }}.{{ tld }}.           IN       A      {{ dnsattr.ip }}
{% endfor %}


; 10.27.0.0/16 - A records
{{ inventory_hostname }}.        IN      A      {{ ansible_default_ipv4.address }}

